.adminBody {
  padding-top: calc(var(--headerheight) + 1.6rem);
  padding-bottom: 10.2rem;
  margin-inline: auto;
  max-width: 90rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logInButton {
   font-size: 5rem;
   height: 5rem;
}