.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gButtonContainer {
    margin-bottom: 2.2rem;
}

.formItem {
    display: flex;
    align-items: center;
}

.formItem svg {
    margin-right: .8rem;
}

.formItem input {
    all: revert;
    background-color: var(--white);
    border: none;
    border-radius: 1.4rem;
    color: var(--black);
    letter-spacing: 0px;
    width: 20rem;
    height: 0.4rem;
    outline: none;
    padding: 2rem;
    font-family: "Courier";
}

.formItem input::placeholder {
    color: var(--gray);
}

.signButtons {
    width: 10rem;
    height: 3rem;
    /* background-color: var(--white); */
    font-size: 2rem;
    font-family: "HelveticaNeue";
    font-weight: 500;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.8rem;
    border-radius: 1.4rem;
}

.pResetButton {
    font-size: 1rem;
    color: var(--lightgray);
    margin-top: 0.6rem;
}