.playlistBody {
   max-width: 70rem;
   margin-inline: auto;
   padding-top: calc(var(--headerheight) + 1.6rem);
   padding-bottom: 10.2rem;
}

.playlistContainer {
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr;
}

.playlistItem {
   display: flex;
}

.playlistItem:hover {
   cursor: pointer;
}

.imageContainer {
   border-radius: 1.4rem;
   aspect-ratio: 1/1;
   width: 10rem;
   min-width: 6.6rem;
   margin-left: 1rem;
}

.image {
   aspect-ratio: 1/1;
   border-radius: 1.4rem;
}

.detailsContainer {
   background-color: var(--white);
   border-radius: 1.4rem;
   margin-left: 1rem;
   margin-right: 1rem;
   width: 100%;
   min-height: 6.6rem;
   padding-left: 1rem;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.title {
   font-size: 1.4rem;
   font-weight: 450;
   margin-bottom: 0.2rem;
}

.artist {
   font-family: "Courier";
   font-size: 1.2rem;
   color: var(--gray);
   margin-top: 0.2rem;
}

.active {
   background-color: var(--reallylightgray);
}