.playerFilter {
    overflow: hidden;
    border-radius: 1.6rem;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .playerFilter {
        backdrop-filter: blur(135px);
        background-color: rgba(247, 247, 242, .24);
    }
}

.playerContainer {
    padding: 1.6rem 1.6rem 1.6rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: .2s cubic-bezier(.5,0,.5,1);
}

.minimized {
    opacity: 0;
    overflow: hidden;
    transition: .2s cubic-bezier(.5,0,.5,1);
    pointer-events: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0;
    appearance: none;
    line-height: 1;
    box-sizing: border-box;
    vertical-align: middle;
    height: 1.4rem;
}